# FILTERING AND EXTRACTING DATA IN PYTHON ASSIGNMENT

## 1. From the police.csv dataset

In [62]:
import pandas as pd
import numpy as np
import os

In [63]:
police_dt = pd.read_csv("police.csv")

In [64]:
police_dt

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,RI,2005-01-04,12:55,NaN,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
1,RI,2005-01-23,23:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,RI,2005-02-17,04:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
3,RI,2005-02-20,17:15,NaN,M,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,Zone X1
4,RI,2005-02-24,01:20,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,RI,2015-12-31,21:21,NaN,F,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,Zone K2
91737,RI,2015-12-31,21:59,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
91738,RI,2015-12-31,22:04,NaN,M,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,Zone X3
91739,RI,2015-12-31,22:09,NaN,F,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False,Zone K3
91740,RI,2015-12-31,22:47,NaN,M,White,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False,Zone X4

In [65]:
police_dt.head()

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,RI,2005-01-04,12:55,NaN,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
1,RI,2005-01-23,23:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,RI,2005-02-17,04:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
3,RI,2005-02-20,17:15,NaN,M,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,Zone X1
4,RI,2005-02-24,01:20,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3

In [66]:
police_dt.tail()

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
91736,RI,2015-12-31,21:21,NaN,F,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,Zone K2
91737,RI,2015-12-31,21:59,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
91738,RI,2015-12-31,22:04,NaN,M,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,Zone X3
91739,RI,2015-12-31,22:09,NaN,F,Hispanic,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False,Zone K3
91740,RI,2015-12-31,22:47,NaN,M,White,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False,Zone X4

In [67]:
police_dt.shape

(91741, 15)

In [68]:
police_dt.dropna()

Empty DataFrame
Columns: [state, stop_date, stop_time, county_name, driver_gender, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, district]
Index: []

### a. what percentage of female had a violation of speeding?

In [69]:
speed = police_dt[police_dt.violation == 'Speeding']
speed

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
1,RI,2005-01-23,23:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,RI,2005-02-17,04:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
4,RI,2005-02-24,01:20,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
5,RI,2005-03-14,10:00,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
6,RI,2005-03-29,21:55,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91731,RI,2015-12-31,13:23,NaN,M,White,Speeding,Speeding,False,NaN,N/D,False,16-30 Min,False,Zone X1
91732,RI,2015-12-31,18:59,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2
91734,RI,2015-12-31,20:20,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2
91735,RI,2015-12-31,20:50,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2
91737,RI,2015-12-31,21:59,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3

In [70]:
# Calculating the percentage of female had a violation of speeding

speedf = speed.driver_gender.value_counts(normalize=True)*100
speedf.loc['F'].round(2)

32.31

###  b. How many of the arrested drivers were male and what was their race?

In [71]:
# filtering all male drivers who were arrested and their races

#male = police_dt[['driver_gender', 'is_arrested', 'driver_race']]
#male

male_arest = male[(male['driver_gender']=='M') & (male['is_arrested']=='True')]
male_arest

Empty DataFrame
Columns: [driver_gender, is_arrested, driver_race]
Index: []

In [72]:
# finding their number

(male['driver_gender']=='M').sum()

62762

### c. In different tables, show the various stop outcomes and their respective violations

In [73]:
#selecting stop outcome and violations columns

police_dt[['stop_outcome', 'violation']]

        stop_outcome            violation
0           Citation            Equipment
1           Citation             Speeding
2           Citation             Speeding
3      Arrest Driver                Other
4           Citation             Speeding
...              ...                  ...
91736       Citation     Moving violation
91737       Citation             Speeding
91738       Citation     Moving violation
91739        Warning            Equipment
91740       Citation  Registration/plates

[91741 rows x 2 columns]

### d.i. What percentage of drivers who were stopped were black, how many were drug related, did it lead to an arrest? If it led to an arrest, how many?

In [74]:
b_stop = police_dt[police_dt.driver_race =='Black']
b_stop

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
26,RI,2005-10-01,06:15,NaN,M,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
28,RI,2005-10-01,08:49,NaN,M,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
51,RI,2005-10-01,23:50,NaN,F,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
67,RI,2005-10-02,12:55,NaN,M,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2
70,RI,2005-10-02,15:30,NaN,M,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91698,RI,2015-12-30,02:15,NaN,M,Black,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False,Zone X4
91699,RI,2015-12-30,02:34,NaN,M,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,Zone K3
91700,RI,2015-12-30,03:30,NaN,F,Black,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
91705,RI,2015-12-30,09:46,NaN,M,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
91736,RI,2015-12-31,21:21,NaN,F,Black,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,Zone K2

In [75]:
drug_stop = b_stop[b_stop.drugs_related_stop =='True']
drug_stop

Empty DataFrame
Columns: [state, stop_date, stop_time, county_name, driver_gender, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, district]
Index: []

###     ii. What percentage of drivers who were stopped were white, how many were drug related, did it lead to an arrest? If it led to an arrest, how many?

In [76]:
w_stop = police_dt[police_dt.driver_race =='White']
w_stop

,state,stop_date,stop_time,county_name,driver_gender,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,district
0,RI,2005-01-04,12:55,NaN,M,White,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,0-15 Min,False,Zone X4
1,RI,2005-01-23,23:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
2,RI,2005-02-17,04:15,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X4
3,RI,2005-02-20,17:15,NaN,M,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,Zone X1
4,RI,2005-02-24,01:20,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone X3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91734,RI,2015-12-31,20:20,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2
91735,RI,2015-12-31,20:50,NaN,M,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K2
91737,RI,2015-12-31,21:59,NaN,F,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,Zone K3
91738,RI,2015-12-31,22:04,NaN,M,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False,Zone X3
91740,RI,2015-12-31,22:47,NaN,M,White,Registration Violation,Registration/plates,False,NaN,Citation,False,0-15 Min,False,Zone X4

In [77]:
drug_stop = w_stop[w_stop.drugs_related_stop =='True']
drug_stop

Empty DataFrame
Columns: [state, stop_date, stop_time, county_name, driver_gender, driver_race, violation_raw, violation, search_conducted, search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, district]
Index: []

## 2. From the instagram_global_top_1000 dataset, answer the following questions

In [78]:
ig_global = pd.read_csv("instagram_global_top_1000.csv")
ig_global

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
0,All,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,2022-02-07 16:50:24.798803
1,All,2,kyliejenner,Kylie 🤍,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,308800000.0,United States,6200000.0,10100000.0,2022-02-07 16:50:24.798803
2,All,3,leomessi,Leo Messi,https://www.instagram.com/leomessi/,Sports with a ball|Family,306300000.0,Argentina,4800000.0,6500000.0,2022-02-07 16:50:24.798803
3,All,4,kendalljenner,Kendall,https://www.instagram.com/kendalljenner/,Modeling|Fashion,217800000.0,United States,3400000.0,5400000.0,2022-02-07 16:50:24.798803
4,All,5,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States,2700000.0,3600000.0,2022-02-07 16:50:24.798803
...,...,...,...,...,...,...,...,...,...,...,...
995,All,996,senoritasaeva,Dina Saeva,https://www.instagram.com/senoritasaeva/,Lifestyle|Music|Modeling,7700000.0,Russia,246600.0,318200.0,2022-02-07 16:50:24.798803
996,All,997,manuelneuer,Manuel Neuer,https://www.instagram.com/manuelneuer/,Sports with a ball,11500000.0,Germany,146500.0,210200.0,2022-02-07 16:50:24.798803
997,All,998,sahilkhan,India’s Youth & Fitness IC⭕️N®,https://www.instagram.com/sahilkhan/,Fitness|Gym,10100000.0,India,176500.0,239800.0,2022-02-07 16:50:24.798803
998,All,999,mohanshakti,Shakti Mohan,https://www.instagram.com/mohanshakti/,Art|Artists|Cinema|Actors/actresses,13700000.0,India,146400.0,175500.0,2022-02-07 16:50:24.798803
999,All,1000,eduincaz,Eduin Caz,https://www.instagram.com/eduincaz/,Lifestyle,6200000.0,Mexico,305600.0,391900.0,2022-02-07 16:50:24.798803

In [79]:
ig_global_drop = ig_global.dropna()
ig_global_drop

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
0,All,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,2022-02-07 16:50:24.798803
1,All,2,kyliejenner,Kylie 🤍,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,308800000.0,United States,6200000.0,10100000.0,2022-02-07 16:50:24.798803
2,All,3,leomessi,Leo Messi,https://www.instagram.com/leomessi/,Sports with a ball|Family,306300000.0,Argentina,4800000.0,6500000.0,2022-02-07 16:50:24.798803
3,All,4,kendalljenner,Kendall,https://www.instagram.com/kendalljenner/,Modeling|Fashion,217800000.0,United States,3400000.0,5400000.0,2022-02-07 16:50:24.798803
4,All,5,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States,2700000.0,3600000.0,2022-02-07 16:50:24.798803
...,...,...,...,...,...,...,...,...,...,...,...
995,All,996,senoritasaeva,Dina Saeva,https://www.instagram.com/senoritasaeva/,Lifestyle|Music|Modeling,7700000.0,Russia,246600.0,318200.0,2022-02-07 16:50:24.798803
996,All,997,manuelneuer,Manuel Neuer,https://www.instagram.com/manuelneuer/,Sports with a ball,11500000.0,Germany,146500.0,210200.0,2022-02-07 16:50:24.798803
997,All,998,sahilkhan,India’s Youth & Fitness IC⭕️N®,https://www.instagram.com/sahilkhan/,Fitness|Gym,10100000.0,India,176500.0,239800.0,2022-02-07 16:50:24.798803
998,All,999,mohanshakti,Shakti Mohan,https://www.instagram.com/mohanshakti/,Art|Artists|Cinema|Actors/actresses,13700000.0,India,146400.0,175500.0,2022-02-07 16:50:24.798803
999,All,1000,eduincaz,Eduin Caz,https://www.instagram.com/eduincaz/,Lifestyle,6200000.0,Mexico,305600.0,391900.0,2022-02-07 16:50:24.798803

In [80]:
ig_global.head()

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
0,All,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,2022-02-07 16:50:24.798803
1,All,2,kyliejenner,Kylie 🤍,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,308800000.0,United States,6200000.0,10100000.0,2022-02-07 16:50:24.798803
2,All,3,leomessi,Leo Messi,https://www.instagram.com/leomessi/,Sports with a ball|Family,306300000.0,Argentina,4800000.0,6500000.0,2022-02-07 16:50:24.798803
3,All,4,kendalljenner,Kendall,https://www.instagram.com/kendalljenner/,Modeling|Fashion,217800000.0,United States,3400000.0,5400000.0,2022-02-07 16:50:24.798803
4,All,5,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States,2700000.0,3600000.0,2022-02-07 16:50:24.798803

In [81]:
ig_global.tail()

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
995,All,996,senoritasaeva,Dina Saeva,https://www.instagram.com/senoritasaeva/,Lifestyle|Music|Modeling,7700000.0,Russia,246600.0,318200.0,2022-02-07 16:50:24.798803
996,All,997,manuelneuer,Manuel Neuer,https://www.instagram.com/manuelneuer/,Sports with a ball,11500000.0,Germany,146500.0,210200.0,2022-02-07 16:50:24.798803
997,All,998,sahilkhan,India’s Youth & Fitness IC⭕️N®,https://www.instagram.com/sahilkhan/,Fitness|Gym,10100000.0,India,176500.0,239800.0,2022-02-07 16:50:24.798803
998,All,999,mohanshakti,Shakti Mohan,https://www.instagram.com/mohanshakti/,Art|Artists|Cinema|Actors/actresses,13700000.0,India,146400.0,175500.0,2022-02-07 16:50:24.798803
999,All,1000,eduincaz,Eduin Caz,https://www.instagram.com/eduincaz/,Lifestyle,6200000.0,Mexico,305600.0,391900.0,2022-02-07 16:50:24.798803

### a. How many influencers in the top 20 are into sports?

In [82]:
ig_global_drop.head(20).Category.str.contains('Sports').sum()

4

### b. How many musicians were in the top 100, which countries were their audience from and how many followers did they have?

In [83]:
# top 100 from the cleaned global data
top_music = ig_global_drop.head(100)
top_music

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
0,All,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,2022-02-07 16:50:24.798803
1,All,2,kyliejenner,Kylie 🤍,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,308800000.0,United States,6200000.0,10100000.0,2022-02-07 16:50:24.798803
2,All,3,leomessi,Leo Messi,https://www.instagram.com/leomessi/,Sports with a ball|Family,306300000.0,Argentina,4800000.0,6500000.0,2022-02-07 16:50:24.798803
3,All,4,kendalljenner,Kendall,https://www.instagram.com/kendalljenner/,Modeling|Fashion,217800000.0,United States,3400000.0,5400000.0,2022-02-07 16:50:24.798803
4,All,5,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States,2700000.0,3600000.0,2022-02-07 16:50:24.798803
...,...,...,...,...,...,...,...,...,...,...,...
104,All,105,camimendes,camila mendes,https://www.instagram.com/camimendes/,Cinema|Actors/actresses,26900000.0,Brazil,1100000.0,1600000.0,2022-02-07 16:50:24.798803
105,All,106,theweeknd,The Weeknd,https://www.instagram.com/theweeknd/,Music,36700000.0,United States,858800.0,1200000.0,2022-02-07 16:50:24.798803
106,All,107,norafatehi,Nora Fatehi,https://www.instagram.com/norafatehi/,Cinema|Actors/actresses|Music|Shows,37800000.0,India,917500.0,1100000.0,2022-02-07 16:50:24.798803
107,All,108,iamzlatanibrahimovic,Zlatan Ibrahimović,https://www.instagram.com/iamzlatanibrahimovic/,Sports with a ball,52100000.0,Italy,525300.0,806100.0,2022-02-07 16:50:24.798803
108,All,109,karimbenzema,Karim Benzema,https://www.instagram.com/karimbenzema/,Sports with a ball,45200000.0,France,620700.0,895300.0,2022-02-07 16:50:24.798803

In [84]:
#finding the  influers in the top 100 who are into music

top_music_dt = top_music[top_music.Category.str.contains('Music')]
top_music_dt

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
4,All,5,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States,2700000.0,3600000.0,2022-02-07 16:50:24.798803
7,All,8,beyonce,Beyoncé,https://www.instagram.com/beyonce/,Music|Fashion,237200000.0,United States,2500000.0,3600000.0,2022-02-07 16:50:24.798803
8,All,9,arianagrande,Ariana Grande,https://www.instagram.com/arianagrande/,Music,294100000.0,United States,1700000.0,2400000.0,2022-02-07 16:50:24.798803
9,All,10,billieeilish,BILLIE EILISH,https://www.instagram.com/billieeilish/,Music,100000000.0,United States,5300000.0,7000000.0,2022-02-07 16:50:24.798803
11,All,12,lalalalisa_m,LISA,https://www.instagram.com/lalalalisa_m/,Music,73100000.0,Indonesia,7500000.0,8600000.0,2022-02-07 16:50:24.798803
12,All,13,jennierubyjane,J,https://www.instagram.com/jennierubyjane/,Music,62300000.0,Indonesia,6400000.0,7600000.0,2022-02-07 16:50:24.798803
18,All,19,sooyaaa__,JISOO🤍,https://www.instagram.com/sooyaaa__/,Music|Beauty,56100000.0,Indonesia,6300000.0,7200000.0,2022-02-07 16:50:24.798803
19,All,20,justinbieber,Justin Bieber,https://www.instagram.com/justinbieber/,Music,219800000.0,India,1200000.0,1800000.0,2022-02-07 16:50:24.798803
21,All,22,roses_are_rosie,ROSÉ,https://www.instagram.com/roses_are_rosie/,Music,55100000.0,Indonesia,5500000.0,6400000.0,2022-02-07 16:50:24.798803
22,All,23,badgalriri,badgalriri,https://www.instagram.com/badgalriri/,Music|Beauty,120900000.0,United States,1700000.0,2800000.0,2022-02-07 16:50:24.798803
23,All,24,nickiminaj,Barbie,https://www.instagram.com/nickiminaj/,Music,174000000.0,United States,1200000.0,1900000.0,2022-02-07 16:50:24.798803
24,All,25,iamcardib,Cardi B,https://www.instagram.com/iamcardib/,Music|Fashion,123100000.0,United States,1800000.0,2600000.0,2022-02-07 16:50:24.798803
29,All,30,zayn,Zayn Malik,https://www.instagram.com/zayn/,Music,44500000.0,India,3800000.0,6000000.0,2022-02-07 16:50:24.798803
30,All,31,champagnepapi,champagnepapi,https://www.instagram.com/champagnepapi/,Music,102600000.0,United States,1500000.0,2500000.0,2022-02-07 16:50:24.798803
36,All,37,adele,Adele,https://www.instagram.com/adele/,Music,49100000.0,United States,2800000.0,3900000.0,2022-02-07 16:50:24.798803
39,All,40,jlo,Jennifer Lopez,https://www.instagram.com/jlo/,Music|Cinema|Actors/actresses,194900000.0,United States,679200.0,856000.0,2022-02-07 16:50:24.798803
41,All,42,karolg,KAROL G,https://www.instagram.com/karolg/,Music,47300000.0,Mexico,2600000.0,3200000.0,2022-02-07 16:50:24.798803
45,All,46,eunwo.o_c,차은우,https://www.instagram.com/eunwo.o_c/,Music|Lifestyle,26500000.0,Indonesia,3700000.0,4600000.0,2022-02-07 16:50:24.798803
46,All,47,dualipa,DUA LIPA,https://www.instagram.com/dualipa/,Music,78700000.0,Mexico,1200000.0,1400000.0,2022-02-07 16:50:24.798803
49,All,50,mileycyrus,Miley Cyrus,https://www.instagram.com/mileycyrus/,Music,160200000.0,United States,501600.0,667900.0,2022-02-07 16:50:24.798803
55,All,56,shawnmendes,Shawn Mendes,https://www.instagram.com/shawnmendes/,Music,66500000.0,Brazil,923900.0,1400000.0,2022-02-07 16:50:24.798803
59,All,60,oliviarodrigo,Olivia Rodrigo,https://www.instagram.com/oliviarodrigo/,Music|Cinema|Actors/actresses,21600000.0,India,2900000.0,3600000.0,2022-02-07 16:50:24.798803
62,All,63,lelepons,Lele Pons,https://www.instagram.com/lelepons/,Music,47300000.0,Mexico,1000000.0,1600000.0,2022-02-07 16:50:24.798803
67,All,68,ddlovato,Demi Lovato,https://www.instagram.com/ddlovato/,Music,125800000.0,United States,439400.0,564800.0,2022-02-07 16:50:24.798803
68,All,69,blackpinkofficial,BLΛƆKPIИK,https://www.instagram.com/blackpinkofficial/,Music,45200000.0,Indonesia,1200000.0,1500000.0,2022-02-07 16:50:24.798803
75,All,76,real__pcy,EXO_CY,https://www.instagram.com/real__pcy/,Music,23600000.0,Indonesia,2200000.0,2700000.0,2022-02-07 16:50:24.798803
76,All,77,katyperry,KATY PERRY,https://www.instagram.com/katyperry/,Music,151900000.0,Brazil,319500.0,408100.0,2022-02-07 16:50:24.798803
78,All,79,camila_cabello,camila,https://www.instagram.com/camila_cabello/,Music,60000000.0,Brazil,747600.0,1000000.0,2022-02-07 16:50:24.798803
81,All,82,dojacat,Doja Cat,https://www.instagram.com/dojacat/,Music,19700000.0,United States,2100000.0,2900000.0,2022-02-07 16:50:24.798803
88,All,89,oohsehun,SEHUN,https://www.instagram.com/oohsehun/,Music,22800000.0,Indonesia,1900000.0,2400000.0,2022-02-07 16:50:24.798803
89,All,90,niallhoran,Niall Horan,https://www.instagram.com/niallhoran/,Music,29200000.0,United States,1300000.0,1800000.0,2022-02-07 16:50:24.798803
93,All,94,twicetagram,TWICE,https://www.instagram.com/twicetagram/,Music|Modeling,23500000.0,Indonesia,1700000.0,2100000.0,2022-02-07 16:50:24.798803
100,All,101,iamhalsey,halsey,https://www.instagram.com/iamhalsey/,Music,28300000.0,United States,1300000.0,1700000.0,2022-02-07 16:50:24.798803
105,All,106,theweeknd,The Weeknd,https://www.instagram.com/theweeknd/,Music,36700000.0,United States,858800.0,1200000.0,2022-02-07 16:50:24.798803
106,All,107,norafatehi,Nora Fatehi,https://www.instagram.com/norafatehi/,Cinema|Actors/actresses|Music|Shows,37800000.0,India,917500.0,1100000.0,2022-02-07 16:50:24.798803

In [85]:
# finding the number musicians in the top of 100 influencers
top_music.Category.str.contains('Music').sum()

35

In [86]:
# The details of the top 100 influencers who are into music

a = top_music_dt.iloc[0: ,2:8]
a

,Account,Title,Link,Category,Followers,Audience Country
4,selenagomez,Selena Gomez,https://www.instagram.com/selenagomez/,Music|Lifestyle,295800000.0,United States
7,beyonce,Beyoncé,https://www.instagram.com/beyonce/,Music|Fashion,237200000.0,United States
8,arianagrande,Ariana Grande,https://www.instagram.com/arianagrande/,Music,294100000.0,United States
9,billieeilish,BILLIE EILISH,https://www.instagram.com/billieeilish/,Music,100000000.0,United States
11,lalalalisa_m,LISA,https://www.instagram.com/lalalalisa_m/,Music,73100000.0,Indonesia
12,jennierubyjane,J,https://www.instagram.com/jennierubyjane/,Music,62300000.0,Indonesia
18,sooyaaa__,JISOO🤍,https://www.instagram.com/sooyaaa__/,Music|Beauty,56100000.0,Indonesia
19,justinbieber,Justin Bieber,https://www.instagram.com/justinbieber/,Music,219800000.0,India
21,roses_are_rosie,ROSÉ,https://www.instagram.com/roses_are_rosie/,Music,55100000.0,Indonesia
22,badgalriri,badgalriri,https://www.instagram.com/badgalriri/,Music|Beauty,120900000.0,United States
23,nickiminaj,Barbie,https://www.instagram.com/nickiminaj/,Music,174000000.0,United States
24,iamcardib,Cardi B,https://www.instagram.com/iamcardib/,Music|Fashion,123100000.0,United States
29,zayn,Zayn Malik,https://www.instagram.com/zayn/,Music,44500000.0,India
30,champagnepapi,champagnepapi,https://www.instagram.com/champagnepapi/,Music,102600000.0,United States
36,adele,Adele,https://www.instagram.com/adele/,Music,49100000.0,United States
39,jlo,Jennifer Lopez,https://www.instagram.com/jlo/,Music|Cinema|Actors/actresses,194900000.0,United States
41,karolg,KAROL G,https://www.instagram.com/karolg/,Music,47300000.0,Mexico
45,eunwo.o_c,차은우,https://www.instagram.com/eunwo.o_c/,Music|Lifestyle,26500000.0,Indonesia
46,dualipa,DUA LIPA,https://www.instagram.com/dualipa/,Music,78700000.0,Mexico
49,mileycyrus,Miley Cyrus,https://www.instagram.com/mileycyrus/,Music,160200000.0,United States
55,shawnmendes,Shawn Mendes,https://www.instagram.com/shawnmendes/,Music,66500000.0,Brazil
59,oliviarodrigo,Olivia Rodrigo,https://www.instagram.com/oliviarodrigo/,Music|Cinema|Actors/actresses,21600000.0,India
62,lelepons,Lele Pons,https://www.instagram.com/lelepons/,Music,47300000.0,Mexico
67,ddlovato,Demi Lovato,https://www.instagram.com/ddlovato/,Music,125800000.0,United States
68,blackpinkofficial,BLΛƆKPIИK,https://www.instagram.com/blackpinkofficial/,Music,45200000.0,Indonesia
75,real__pcy,EXO_CY,https://www.instagram.com/real__pcy/,Music,23600000.0,Indonesia
76,katyperry,KATY PERRY,https://www.instagram.com/katyperry/,Music,151900000.0,Brazil
78,camila_cabello,camila,https://www.instagram.com/camila_cabello/,Music,60000000.0,Brazil
81,dojacat,Doja Cat,https://www.instagram.com/dojacat/,Music,19700000.0,United States
88,oohsehun,SEHUN,https://www.instagram.com/oohsehun/,Music,22800000.0,Indonesia
89,niallhoran,Niall Horan,https://www.instagram.com/niallhoran/,Music,29200000.0,United States
93,twicetagram,TWICE,https://www.instagram.com/twicetagram/,Music|Modeling,23500000.0,Indonesia
100,iamhalsey,halsey,https://www.instagram.com/iamhalsey/,Music,28300000.0,United States
105,theweeknd,The Weeknd,https://www.instagram.com/theweeknd/,Music,36700000.0,United States
106,norafatehi,Nora Fatehi,https://www.instagram.com/norafatehi/,Cinema|Actors/actresses|Music|Shows,37800000.0,India

### c. Find out how many influencers had Indian audiences, their profession, their number of followers and their average engagement.

In [87]:
b = ig_global_drop.iloc[0:, 2:10]
b

b_drop = b.drop(columns=["Link","Authentic engagement"])
b_drop

,Account,Title,Category,Followers,Audience Country,Engagement avg
0,cristiano,Cristiano Ronaldo,Sports with a ball,400100000.0,India,9500000.0
1,kyliejenner,Kylie 🤍,Fashion|Modeling|Beauty,308800000.0,United States,10100000.0
2,leomessi,Leo Messi,Sports with a ball|Family,306300000.0,Argentina,6500000.0
3,kendalljenner,Kendall,Modeling|Fashion,217800000.0,United States,5400000.0
4,selenagomez,Selena Gomez,Music|Lifestyle,295800000.0,United States,3600000.0
...,...,...,...,...,...,...
995,senoritasaeva,Dina Saeva,Lifestyle|Music|Modeling,7700000.0,Russia,318200.0
996,manuelneuer,Manuel Neuer,Sports with a ball,11500000.0,Germany,210200.0
997,sahilkhan,India’s Youth & Fitness IC⭕️N®,Fitness|Gym,10100000.0,India,239800.0
998,mohanshakti,Shakti Mohan,Art|Artists|Cinema|Actors/actresses,13700000.0,India,175500.0
999,eduincaz,Eduin Caz,Lifestyle,6200000.0,Mexico,391900.0

In [88]:
b_drop1 = b_drop[(b_drop['Audience Country']=='India')]
b_drop1

,Account,Title,Category,Followers,Audience Country,Engagement avg
0,cristiano,Cristiano Ronaldo,Sports with a ball,400100000.0,India,9500000.0
14,virat.kohli,Virat Kohli,Sports with a ball,182600000.0,India,2400000.0
19,justinbieber,Justin Bieber,Music,219800000.0,India,1800000.0
27,therock,therock,Cinema|Actors/actresses|Fitness|Gym,295800000.0,India,994800.0
28,instagram,Instagram,Photography,469600000.0,India,608100.0
...,...,...,...,...,...,...
949,divyankatripathidahiya,Divyanka Tripathi Dahiya,Shows|Cinema|Actors/actresses,18500000.0,India,138400.0
973,ravindra.jadeja,Ravindrasinh jadeja,Lifestyle|Sports with a ball,4200000.0,India,596800.0
986,rishabpant,Rishabh Pant,Sports with a ball,5700000.0,India,433800.0
997,sahilkhan,India’s Youth & Fitness IC⭕️N®,Fitness|Gym,10100000.0,India,239800.0
998,mohanshakti,Shakti Mohan,Art|Artists|Cinema|Actors/actresses,13700000.0,India,175500.0

In [89]:
#finding the number of influencers who had Indian audiences, their profession, their number of followers and their average engagement.
(b_drop['Audience Country']=='India').sum()

137

### d. What percentage of influencers with average engagement less than 1.5 million were into Beauty and Lifestyle?

In [90]:
b_lifestyle = ig_global_drop[ig_global_drop.Category.str.contains('Beauty','Lifestyle')]
b_lifestyle

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
1,All,2,kyliejenner,Kylie 🤍,https://www.instagram.com/kyliejenner/,Fashion|Modeling|Beauty,308800000.0,United States,6200000.0,10100000.0,2022-02-07 16:50:24.798803
6,All,7,kimkardashian,Kim Kardashian West,https://www.instagram.com/kimkardashian/,Fashion|Beauty,284900000.0,United States,2200000.0,3300000.0,2022-02-07 16:50:24.798803
18,All,19,sooyaaa__,JISOO🤍,https://www.instagram.com/sooyaaa__/,Music|Beauty,56100000.0,Indonesia,6300000.0,7200000.0,2022-02-07 16:50:24.798803
22,All,23,badgalriri,badgalriri,https://www.instagram.com/badgalriri/,Music|Beauty,120900000.0,United States,1700000.0,2800000.0,2022-02-07 16:50:24.798803
35,All,36,katrinakaif,Katrina Kaif,https://www.instagram.com/katrinakaif/,Beauty,61600000.0,India,3300000.0,3800000.0,2022-02-07 16:50:24.798803
61,All,62,rashmika_mandanna,Rashmika Mandanna,https://www.instagram.com/rashmika_mandanna/,Beauty|Art|Artists|Cinema|Actors/actresses,28600000.0,India,2300000.0,2700000.0,2022-02-07 16:50:24.798803
91,All,92,addisonraee,Addison Rae,https://www.instagram.com/addisonraee/,Beauty,40300000.0,United States,826000.0,1300000.0,2022-02-07 16:50:24.798803
173,All,174,sadiesink_,Sadie Sink,https://www.instagram.com/sadiesink_/,Modeling|Lifestyle|Beauty,15200000.0,Brazil,1000000.0,1500000.0,2022-02-07 16:50:24.798803
176,All,177,samantharuthprabhuoffl,Samantha,https://www.instagram.com/samantharuthprabhuoffl/,Beauty|Modeling|Cinema|Actors/actresses,21600000.0,India,854800.0,1000000.0,2022-02-07 16:50:24.798803
215,All,216,sunnyleone,Sunny Leone,https://www.instagram.com/sunnyleone/,Beauty|Cinema|Actors/actresses,50500000.0,India,254600.0,344700.0,2022-02-07 16:50:24.798803
225,All,226,natashawilona12,Natasha Wilona,https://www.instagram.com/natashawilona12/,Beauty,37000000.0,Indonesia,376700.0,449500.0,2022-02-07 16:50:24.798803
259,All,260,bretmanrock,Bretman (Da Baddest) Rock,https://www.instagram.com/bretmanrock/,Art|Artists|Beauty,18100000.0,United States,473700.0,798200.0,2022-02-07 16:50:24.798803
261,All,262,krisjenner,Kris Jenner,https://www.instagram.com/krisjenner/,Shows|Beauty|Family,45800000.0,United States,208200.0,315400.0,2022-02-07 16:50:24.798803
263,All,264,jamescharles,James Charles,https://www.instagram.com/jamescharles/,Beauty,23600000.0,United States,415800.0,610200.0,2022-02-07 16:50:24.798803
292,All,293,chiaraferragni,Chiara Ferragni ✨,https://www.instagram.com/chiaraferragni/,Beauty,26300000.0,Italy,291600.0,484400.0,2022-02-07 16:50:24.798803
301,All,302,marimaria,Mari Maria,https://www.instagram.com/marimaria/,Beauty,19700000.0,Brazil,321000.0,616300.0,2022-02-07 16:50:24.798803
344,All,345,avani,avani,https://www.instagram.com/avani/,Beauty|Lifestyle,18600000.0,United States,396600.0,533300.0,2022-02-07 16:50:24.798803
354,All,355,ler_chek,Валерия Чекалина,https://www.instagram.com/ler_chek/,Lifestyle|Beauty,10700000.0,Russia,699200.0,913800.0,2022-02-07 16:50:24.798803
370,All,371,bernardokath,Kathryn Bernardo 🐘,https://www.instagram.com/bernardokath/,Beauty|Cinema|Actors/actresses|Fashion,16500000.0,Philippines,442100.0,532400.0,2022-02-07 16:50:24.798803
382,All,383,bianca,BOCA ROSA,https://www.instagram.com/bianca/,Beauty,17300000.0,Brazil,208600.0,489200.0,2022-02-07 16:50:24.798803
384,All,385,goar_avetisyan,Goar Avetisyan,https://www.instagram.com/goar_avetisyan/,Beauty,11500000.0,Russia,527000.0,731500.0,2022-02-07 16:50:24.798803
399,All,400,shaymitchell,Shay Mitchell,https://www.instagram.com/shaymitchell/,Beauty|Family|Lifestyle,32100000.0,United States,181000.0,252300.0,2022-02-07 16:50:24.798803
405,All,406,aurelie.hermansyah,Aurelie Hermansyah Atta,https://www.instagram.com/aurelie.hermansyah/,Beauty,24300000.0,Indonesia,262600.0,331300.0,2022-02-07 16:50:24.798803
418,All,419,nikkietutorials,NikkieTutorials,https://www.instagram.com/nikkietutorials/,Beauty,15400000.0,United States,364700.0,495500.0,2022-02-07 16:50:24.798803
528,All,529,corinnakopf,pouty girl,https://www.instagram.com/corinnakopf/,Beauty,6300000.0,United States,623400.0,954000.0,2022-02-07 16:50:24.798803
537,All,538,rizkybillar,Muhammad Rizky Billar,https://www.instagram.com/rizkybillar/,Shows|Beauty|Lifestyle,12400000.0,Indonesia,358200.0,462000.0,2022-02-07 16:50:24.798803
559,All,560,evcenf,Fahriye Evcen Özçivit,https://www.instagram.com/evcenf/,Lifestyle|Beauty,12600000.0,Turkey,337000.0,424500.0,2022-02-07 16:50:24.798803
568,All,569,araikgalstyanmoscowschool,ＡＲＡＩＫ ＧＡＬＳＴＹＡＮ®️,https://www.instagram.com/araikgalstyanmoscows...,Beauty,12600000.0,Turkey,319800.0,413000.0,2022-02-07 16:50:24.798803
590,All,591,nikitadragun,Nikita,https://www.instagram.com/nikitadragun/,Beauty|Modeling|Adult content,9100000.0,United States,358500.0,548400.0,2022-02-07 16:50:24.798803
625,All,626,amadorat,N I C O L E A M A D O,https://www.instagram.com/amadorat/,Fashion|Lifestyle|Beauty,7900000.0,Mexico,507400.0,567400.0,2022-02-07 16:50:24.798803
638,All,639,redvelvet.smtown,Red Velvet Official,https://www.instagram.com/redvelvet.smtown/,Music|Beauty|Fashion,11100000.0,Indonesia,323500.0,393300.0,2022-02-07 16:50:24.798803
671,All,672,andreavaldirisos,ANDREA VALDIRI 🇨🇴,https://www.instagram.com/andreavaldirisos/,Lifestyle|Beauty,7400000.0,Colombia,384000.0,546200.0,2022-02-07 16:50:24.798803
695,All,696,hudabeauty,HUDA KATTAN,https://www.instagram.com/hudabeauty/,Beauty,49900000.0,Brazil,46600.0,77000.0,2022-02-07 16:50:24.798803
713,All,714,skaijackson,S K A I,https://www.instagram.com/skaijackson/,Lifestyle|Beauty,7800000.0,United States,272600.0,481500.0,2022-02-07 16:50:24.798803
724,All,725,francinyehlke,FЯAN,https://www.instagram.com/francinyehlke/,Beauty,15000000.0,Brazil,110200.0,240800.0,2022-02-07 16:50:24.798803
767,All,768,phoebejtonkin,Phoebe Tonkin,https://www.instagram.com/phoebejtonkin/,Beauty|Cinema|Actors/actresses|Modeling,8100000.0,United States,294100.0,419900.0,2022-02-07 16:50:24.798803
774,All,775,luisafernandaw,Luisa Fernanda W,https://www.instagram.com/luisafernandaw/,Lifestyle|Beauty,16700000.0,Colombia,130300.0,200200.0,2022-02-07 16:50:24.798803
814,All,815,vivi,Vivi Wanderley,https://www.instagram.com/vivi/,Beauty|Lifestyle,12700000.0,Brazil,147300.0,242000.0,2022-02-07 16:50:24.798803
885,All,886,soydannyalfaro,Danny Alfaro 🌹,https://www.instagram.com/soydannyalfaro/,Beauty,8000000.0,Mexico,302100.0,346100.0,2022-02-07 16:50:24.798803
889,All,890,nabilla,Nabilla Vergara ✨,https://www.instagram.com/nabilla/,Beauty,7100000.0,France,283700.0,390500.0,2022-02-07 16:50:24.798803
987,All,988,jeffreestar,Jeffree Star,https://www.instagram.com/jeffreestar/,Beauty|Art|Artists|Modeling,13600000.0,United States,123600.0,180600.0,2022-02-07 16:50:24.798803

In [91]:
b_lifestyle[(b_lifestyle['Engagement avg'] < 1500000)]

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
91,All,92,addisonraee,Addison Rae,https://www.instagram.com/addisonraee/,Beauty,40300000.0,United States,826000.0,1300000.0,2022-02-07 16:50:24.798803
176,All,177,samantharuthprabhuoffl,Samantha,https://www.instagram.com/samantharuthprabhuoffl/,Beauty|Modeling|Cinema|Actors/actresses,21600000.0,India,854800.0,1000000.0,2022-02-07 16:50:24.798803
215,All,216,sunnyleone,Sunny Leone,https://www.instagram.com/sunnyleone/,Beauty|Cinema|Actors/actresses,50500000.0,India,254600.0,344700.0,2022-02-07 16:50:24.798803
225,All,226,natashawilona12,Natasha Wilona,https://www.instagram.com/natashawilona12/,Beauty,37000000.0,Indonesia,376700.0,449500.0,2022-02-07 16:50:24.798803
259,All,260,bretmanrock,Bretman (Da Baddest) Rock,https://www.instagram.com/bretmanrock/,Art|Artists|Beauty,18100000.0,United States,473700.0,798200.0,2022-02-07 16:50:24.798803
261,All,262,krisjenner,Kris Jenner,https://www.instagram.com/krisjenner/,Shows|Beauty|Family,45800000.0,United States,208200.0,315400.0,2022-02-07 16:50:24.798803
263,All,264,jamescharles,James Charles,https://www.instagram.com/jamescharles/,Beauty,23600000.0,United States,415800.0,610200.0,2022-02-07 16:50:24.798803
292,All,293,chiaraferragni,Chiara Ferragni ✨,https://www.instagram.com/chiaraferragni/,Beauty,26300000.0,Italy,291600.0,484400.0,2022-02-07 16:50:24.798803
301,All,302,marimaria,Mari Maria,https://www.instagram.com/marimaria/,Beauty,19700000.0,Brazil,321000.0,616300.0,2022-02-07 16:50:24.798803
344,All,345,avani,avani,https://www.instagram.com/avani/,Beauty|Lifestyle,18600000.0,United States,396600.0,533300.0,2022-02-07 16:50:24.798803
354,All,355,ler_chek,Валерия Чекалина,https://www.instagram.com/ler_chek/,Lifestyle|Beauty,10700000.0,Russia,699200.0,913800.0,2022-02-07 16:50:24.798803
370,All,371,bernardokath,Kathryn Bernardo 🐘,https://www.instagram.com/bernardokath/,Beauty|Cinema|Actors/actresses|Fashion,16500000.0,Philippines,442100.0,532400.0,2022-02-07 16:50:24.798803
382,All,383,bianca,BOCA ROSA,https://www.instagram.com/bianca/,Beauty,17300000.0,Brazil,208600.0,489200.0,2022-02-07 16:50:24.798803
384,All,385,goar_avetisyan,Goar Avetisyan,https://www.instagram.com/goar_avetisyan/,Beauty,11500000.0,Russia,527000.0,731500.0,2022-02-07 16:50:24.798803
399,All,400,shaymitchell,Shay Mitchell,https://www.instagram.com/shaymitchell/,Beauty|Family|Lifestyle,32100000.0,United States,181000.0,252300.0,2022-02-07 16:50:24.798803
405,All,406,aurelie.hermansyah,Aurelie Hermansyah Atta,https://www.instagram.com/aurelie.hermansyah/,Beauty,24300000.0,Indonesia,262600.0,331300.0,2022-02-07 16:50:24.798803
418,All,419,nikkietutorials,NikkieTutorials,https://www.instagram.com/nikkietutorials/,Beauty,15400000.0,United States,364700.0,495500.0,2022-02-07 16:50:24.798803
528,All,529,corinnakopf,pouty girl,https://www.instagram.com/corinnakopf/,Beauty,6300000.0,United States,623400.0,954000.0,2022-02-07 16:50:24.798803
537,All,538,rizkybillar,Muhammad Rizky Billar,https://www.instagram.com/rizkybillar/,Shows|Beauty|Lifestyle,12400000.0,Indonesia,358200.0,462000.0,2022-02-07 16:50:24.798803
559,All,560,evcenf,Fahriye Evcen Özçivit,https://www.instagram.com/evcenf/,Lifestyle|Beauty,12600000.0,Turkey,337000.0,424500.0,2022-02-07 16:50:24.798803
568,All,569,araikgalstyanmoscowschool,ＡＲＡＩＫ ＧＡＬＳＴＹＡＮ®️,https://www.instagram.com/araikgalstyanmoscows...,Beauty,12600000.0,Turkey,319800.0,413000.0,2022-02-07 16:50:24.798803
590,All,591,nikitadragun,Nikita,https://www.instagram.com/nikitadragun/,Beauty|Modeling|Adult content,9100000.0,United States,358500.0,548400.0,2022-02-07 16:50:24.798803
625,All,626,amadorat,N I C O L E A M A D O,https://www.instagram.com/amadorat/,Fashion|Lifestyle|Beauty,7900000.0,Mexico,507400.0,567400.0,2022-02-07 16:50:24.798803
638,All,639,redvelvet.smtown,Red Velvet Official,https://www.instagram.com/redvelvet.smtown/,Music|Beauty|Fashion,11100000.0,Indonesia,323500.0,393300.0,2022-02-07 16:50:24.798803
671,All,672,andreavaldirisos,ANDREA VALDIRI 🇨🇴,https://www.instagram.com/andreavaldirisos/,Lifestyle|Beauty,7400000.0,Colombia,384000.0,546200.0,2022-02-07 16:50:24.798803
695,All,696,hudabeauty,HUDA KATTAN,https://www.instagram.com/hudabeauty/,Beauty,49900000.0,Brazil,46600.0,77000.0,2022-02-07 16:50:24.798803
713,All,714,skaijackson,S K A I,https://www.instagram.com/skaijackson/,Lifestyle|Beauty,7800000.0,United States,272600.0,481500.0,2022-02-07 16:50:24.798803
724,All,725,francinyehlke,FЯAN,https://www.instagram.com/francinyehlke/,Beauty,15000000.0,Brazil,110200.0,240800.0,2022-02-07 16:50:24.798803
767,All,768,phoebejtonkin,Phoebe Tonkin,https://www.instagram.com/phoebejtonkin/,Beauty|Cinema|Actors/actresses|Modeling,8100000.0,United States,294100.0,419900.0,2022-02-07 16:50:24.798803
774,All,775,luisafernandaw,Luisa Fernanda W,https://www.instagram.com/luisafernandaw/,Lifestyle|Beauty,16700000.0,Colombia,130300.0,200200.0,2022-02-07 16:50:24.798803
814,All,815,vivi,Vivi Wanderley,https://www.instagram.com/vivi/,Beauty|Lifestyle,12700000.0,Brazil,147300.0,242000.0,2022-02-07 16:50:24.798803
885,All,886,soydannyalfaro,Danny Alfaro 🌹,https://www.instagram.com/soydannyalfaro/,Beauty,8000000.0,Mexico,302100.0,346100.0,2022-02-07 16:50:24.798803
889,All,890,nabilla,Nabilla Vergara ✨,https://www.instagram.com/nabilla/,Beauty,7100000.0,France,283700.0,390500.0,2022-02-07 16:50:24.798803
987,All,988,jeffreestar,Jeffree Star,https://www.instagram.com/jeffreestar/,Beauty|Art|Artists|Modeling,13600000.0,United States,123600.0,180600.0,2022-02-07 16:50:24.798803

In [92]:
blife = (b_lifestyle['Engagement avg'] < 1500000).sum()
blife

34

In [99]:
# finding the percentage of influencers with average engagement less than 1.5 million were into Beauty and Lifestyle

blife_cent = (blife/891*100).round(2)
blife_cent

3.82

### e. What percentage of the influencers were into Sports with a ball, find out the difference between their average engagements and authentic engagements?

In [94]:
sports = ig_global_drop[ig_global_drop.Category.str.contains('Sports with a ball')]
sports

,Country,Rank,Account,Title,Link,Category,Followers,Audience Country,Authentic engagement,Engagement avg,Scraped
0,All,1,cristiano,Cristiano Ronaldo,https://www.instagram.com/cristiano/,Sports with a ball,400100000.0,India,7800000.0,9500000.0,2022-02-07 16:50:24.798803
2,All,3,leomessi,Leo Messi,https://www.instagram.com/leomessi/,Sports with a ball|Family,306300000.0,Argentina,4800000.0,6500000.0,2022-02-07 16:50:24.798803
10,All,11,neymarjr,NJ 🇧🇷,https://www.instagram.com/neymarjr/,Sports with a ball,169800000.0,Brazil,2800000.0,4000000.0,2022-02-07 16:50:24.798803
14,All,15,virat.kohli,Virat Kohli,https://www.instagram.com/virat.kohli/,Sports with a ball,182600000.0,India,2100000.0,2400000.0,2022-02-07 16:50:24.798803
38,All,39,kingjames,👑,https://www.instagram.com/kingjames/,Sports with a ball,111400000.0,United States,884300.0,1500000.0,2022-02-07 16:50:24.798803
...,...,...,...,...,...,...,...,...,...,...,...
972,All,973,davidluiz23,David Luiz,https://www.instagram.com/davidluiz23/,Sports with a ball,21000000.0,Brazil,53800.0,118900.0,2022-02-07 16:50:24.798803
973,All,974,ravindra.jadeja,Ravindrasinh jadeja,https://www.instagram.com/ravindra.jadeja/,Lifestyle|Sports with a ball,4200000.0,India,484800.0,596800.0,2022-02-07 16:50:24.798803
983,All,984,casemiro,Casemiro,https://www.instagram.com/casemiro/,Sports with a ball,13600000.0,Spain,120400.0,180700.0,2022-02-07 16:50:24.798803
986,All,987,rishabpant,Rishabh Pant,https://www.instagram.com/rishabpant/,Sports with a ball,5700000.0,India,365300.0,433800.0,2022-02-07 16:50:24.798803
996,All,997,manuelneuer,Manuel Neuer,https://www.instagram.com/manuelneuer/,Sports with a ball,11500000.0,Germany,146500.0,210200.0,2022-02-07 16:50:24.798803

In [95]:
sports_sum = ig_global_drop.Category.str.contains('Sports with a ball').sum()
sports_sum

117

In [100]:
(sports_sum/891*100).round(2)

13.13

In [97]:
sports['Engagement avg'] - sports['Authentic engagement']

0      1700000.0
2      1700000.0
10     1200000.0
14      300000.0
38      615700.0
         ...
972      65100.0
973     112000.0
983      60300.0
986      68500.0
996      63700.0
Length: 117, dtype: float64